<!DOCTYPE html>
<html>

<head>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍🦰</text></svg>" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lebanese Quizz</title>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
  <script type="module" src="/scripts/libanais.js"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
  <h1>Lebanese Quizz</h1>
  <div id="app">
    <div>
      {{word.foreign}}: <input v-on:keyup.enter="onEnter" v-model="answer">
    </div>
    <div v-if="hasResult">
      <p v-if="!result">Incorrect: <span>{{correctionLocal}}</span></p>
      <p v-if="result">Correct</p>
    </div>
  </div>
</body>

</html>